.Chat {
    background-color: #f2f6f9;
    padding-bottom: $padding-xlarge * 2;
    height: 100vh;
    box-sizing: border-box;
    &__list {
        box-sizing: border-box;
        overflow: auto;
        margin: 0;
        padding: $padding-normal;
        width: 100%;
        max-height: 100vh;
        height: auto;
        padding-bottom: 60px;
    }
    &__form {
        margin: $padding-normal;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
    }
}