.Chat {
    background-color: #f2f6f9;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: $padding-normal;
    box-sizing: border-box;
    &__list {
        margin: 0;
        padding: 0;
    }
    &__form {
        margin: $padding-normal;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
    }
}